<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Sản phẩm</h3>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Thông tin chi tiết</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="btn btn-default" href="#springUrl('/admin/item')"><i class="fa fa-reply"></i> Quay lại</a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<!-- Smart Wizard -->
						<p>Yêu cầu nhập thông tin của Sản phẩm theo mô tả như các bước dưới đây:</p>
						<div id="wizard" class="form_wizard wizard_horizontal">
							<ul class="wizard_steps">
								<li>
									<a href="#step_no1"> 
										<span class="step_no">1</span> 
										<span class="step_descr"> Step 1<br /> <small>Thông tin cơ bản</small></span>
									</a>
								</li>
								<li>
									<a href="#step_no2"> 
										<span class="step_no">2</span> 
										<span class="step_descr"> Step 2<br /> <small>Hình ảnh đại diện Sản phẩm</small></span>
									</a>
								</li>
							</ul>
							<div id="step_no1">
								<form class="form-update form-horizontal form-label-left form-main" action="#springUrl('/admin/item/copy-item/')$!item.id" method="post">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="supplier-name">Trang trại trực thuộc <span class="required">*</span></label>
										<div class="col-md-5 col-sm-5 col-xs-12">
											<select id="supplier-name" name="supplier[id]" class="form-control" required="required">
												<option value=""></option>
											#foreach ($supplier in $!listOfSuppliers)
												<option value="$!supplier.id" $!pageUtil.markSelectElement($!supplier.id, $!item.supplier.id)>$!supplier.companyName</option>
											#end
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="item-category">Danh mục Sản phẩm <span class="required">*</span></label>
										<div class="col-md-4 col-sm-4 col-xs-12">
											<select id="item-category" name="itemCategory[id]" class="form-control" required="required">
												<option value=""></option>
											#foreach ($itemCategory in $!listOfItemCategories)
												<option value="$!itemCategory.id" $!pageUtil.markSelectElement($!itemCategory.id, $!item.itemCategory.id)>$!itemCategory.name</option>
											#end
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="short-name">Tên Sản phẩm <span class="required">*</span></label>
										<div class="col-md-5 col-sm-5 col-xs-12">
											<input id="short-name" class="form-control" type="text" name="shortName" required="required" value="$!item.shortName">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="sale-price">Giá bán <span class="required">*</span></label>
										<div class="col-md-2 col-sm-2 col-xs-12">
											<input id="sale-price" class="form-control" type="text" name="salePrice" required="required" value="$!item.salePrice">
										</div>
										<div class="col-md-1 col-sm-1 col-xs-12">
											<select id="unit-of-sale-price" name="unitOfSalePrice" class="form-control">
												<option value="đ">đ</option>
											</select>
										</div>
										<label class="control-label col-md-1 col-sm-1 col-xs-12" for="weight" style="text-align: center;">/</label>
										<div class="col-md-1 col-sm-1 col-xs-12">
											<input id="weight" class="form-control" type="text" name="weight" value="1" readonly="readonly">
										</div>
										<div class="col-md-1 col-sm-1 col-xs-12">
											<select name="unitOfWeight" class="form-control">
												<option value="kg">kg</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="weight-of-one-box">Khối lượng đóng gói <span class="required">*</span></label>
										<div class="col-md-2 col-sm-2 col-xs-12">
											<input id="weight-of-one-box" class="form-control" type="text" name="weightOfOneBox" value="$!item.weightOfOneBox">
										</div>
										<div class="col-md-1 col-sm-1 col-xs-12">
											<select class="form-control">
												<option value="kg">kg</option>
											</select>
										</div>
										<label class="control-label col-md-1 col-sm-1 col-xs-12" style="text-align: center;">/</label>
										<div class="col-md-1 col-sm-1 col-xs-12">
											<input class="form-control" type="text" value="1" readonly="readonly">
										</div>
										<div class="col-md-1 col-sm-1 col-xs-12">
											<select id="unit-of-one-box" name="unitOfOneBox" class="form-control">
												<option value="chiếc">chiếc</option>
												<option value="bao">bao</option>
												<option value="bó">bó</option>
												<option value="hộp">hộp</option>
												<option value="túi">túi</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="total-weight">Tổng khối lượng (E.g: 50Kg) <span class="required">*</span></label>
										<div class="col-md-3 col-sm-3 col-xs-12">
											<input id="total-weight" class="form-control" type="text" name="totalWeight" required="required" value="$!item.totalWeight">
										</div>
										<div class="col-md-1 col-sm-1 col-xs-12">
											<select class="form-control">
												<option value="kg">kg</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="discount">Tỷ lệ khấu trừ <span class="required">*</span></label>
										<div class="col-md-3 col-sm-3 col-xs-12">
											<input id="discount" class="form-control" type="text" name="discount" value="$!item.discount">
										</div>
										<div class="col-md-1 col-sm-1 col-xs-12">
											<select id="unit-of-discount" name="unitOfDiscount" class="form-control">
												<option value="đ">đ</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Mô tả chi tiết</label>
										<div class="col-md-8 col-sm-8 col-xs-12">
											<textarea name="description" id="description" class="form-control" rows="4">$!item.description</textarea>
											#springInputHidden( "PREVIEW_IMAGE_01" "" "previewImage1[id]" )
											#springInputHidden( "PREVIEW_IMAGE_02" "" "previewImage2[id]" )
											#springInputHidden( "PREVIEW_IMAGE_03" "" "previewImage3[id]" )
										</div>
									</div>
								</form>
							</div>
							<div id="step_no2">
								<form class="form-upload form-horizontal form-label-left">
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="preview-image-1">Hình ảnh đại diện (1)</label>
										<div class="col-md-8 col-sm-8 col-xs-12">
											#springInputFile( "preview-image-1" "form-control" "previewImage1" "$!item.previewImage1.id" "PREVIEW_IMAGE_01"  )
											#springWarningLable( "Không thay đổi giá trị này nếu bạn không muốn cập nhật!" )
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="preview-image-2">Hình ảnh đại diện (2)</label>
										<div class="col-md-8 col-sm-8 col-xs-12">
											#springInputFile( "preview-image-2" "form-control" "previewImage2" "$!item.previewImage2.id" "PREVIEW_IMAGE_02"  )
											#springWarningLable( "Không thay đổi giá trị này nếu bạn không muốn cập nhật!" )
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="preview-image-3">Hình ảnh đại diện (3)</label>
										<div class="col-md-8 col-sm-8 col-xs-12">
											#springInputFile( "preview-image-3" "form-control" "previewImage3" "$!item.previewImage3.id" "PREVIEW_IMAGE_03"  )
											#springWarningLable( "Không thay đổi giá trị này nếu bạn không muốn cập nhật!" )
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#springErrorMessage( "fails-update-dialog" "Thông báo" "" "Không thể cập nhật thông tin của Sản phẩm. Vui lòng liên hệ với quản trị hệ thống." "Đóng" )
#springErrorMessage( "fails-upload-dialog" "Thông báo" "" "Không thể tải lên hình ảnh đại diện của Sản phẩm. Vui lòng liên hệ với quản trị hệ thống." "Đóng" )
<script src="#springUrl('/wp-content/js/item.js')"></script>